@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@layer components {
  .scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    /* thumb color + transparent track */
    scrollbar-color: #d1d5db transparent; /* light mode */
    scrollbar-color: #6b7280 transparent; /* dark mode override if desired */

    /* WebKit */
    &::-webkit-scrollbar {
      width: 0.25rem; /* same as w-1 */
    }
    &::-webkit-scrollbar-track {
      background: transparent; /* no track background */
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-300 dark:bg-neutral-500;
    }
  }
}
